@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

#title {
    color: white;
    font-family: 'Amiri Quran', serif;
    position: relative;
    max-width: 500px;
    margin: auto;
    top: 77px;
}

#peopleIcon {
    
    top: 10px;
    position: relative;
} 

