

body {

    background-color: lightgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;

}

#navbar {
   width: 1390px;
   height: 50px;
   background-color: #ffc700; 
   top: 25px;
}



